#####################################################################
.______    ___________    __    ____  ___      .______       _______ 
|   _  \  |   ____\   \  /  \  /   / /   \     |   _  \     |   ____|
|  |_)  | |  |__   \   \/    \/   / /  ^  \    |  |_)  |    |  |__   
|   _  <  |   __|   \            / /  /_\  \   |      /     |   __|  
|  |_)  | |  |____   \    /\    / /  _____  \  |  |\  \----.|  |____ 
|______/  |_______|   \__/  \__/ /__/     \__\ | _| `._____||_______|
                                                                     
#####################################################################
Authorized access only!
Disconnect IMMEDIATELY if you are not an authorized user!
All actions will be monitored and recorded.
#####################################################################